.content{
    display: flex;
    background-color: #FBF6FA;
}
.content-left{
    margin: 2%;
    margin-left:100px;
    width: 55%;
}

.left-title{
    font-weight: bolder;
    font-size: 25px;
}

.left-content-imagebox{
    width: 707px;
    height: 471px;
    background-image: url(/assets/scholarships-banner.jpg);
    background-size: cover;
    margin-top: 15px;
    border-radius: 15px;
}

.image-title {
   font-size: 18pt;
   text-align: center;
   font-weight: bold;
   padding: 20px;
}

.content-right{
    background-color: #f8e5f5;
    width: 486px;
    height: fit-content;
    margin: 2%;
    margin-top: 5%;
    border-radius: 30px;
    margin-right: 100px;
    margin-bottom: 0%;
}

.right-title{
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding: 20px;
    padding-bottom: 5px;
}

.right-content img{
    width: 106px;
    height: 94px;
    margin-right: 20px;
    padding: 20px;
}

.content-title{
    font-size: 10pt;
    padding-right: 40px;
}

.right-content-content{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

.content-right-footer{
    padding: 20px;
    font-size: 10pt;
}

.button-save{
    display: flex;
    flex-direction: row;
    margin-bottom:15px;
}

.space{
    width: 850px;
}

.submit1 input[type=submit] {
    width: 50%;
    background-color: #3a8a41;
    color: white;
    margin-left: 100px;
    padding: 10px 15px;
    margin-right:10px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
  
.submit1 input[type=submit]:hover {
    background-color: #26772d;
}

.submit2 input[type=submit] {
    width: 100%;
    background-color: #b12121;
    color: white;
    margin: 15px 0;
    margin-left: 25px;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
  
.submit2 input[type=submit]:hover {
    background-color: #a01919;
}