.content{
    height: 551px;
    margin:auto;
}

.content-top{
    border-bottom: 2px solid black;
    padding: 1%;
    padding-bottom: 4%;
    height: 20%;
    width: 1050px;
    margin-left: 100px;
    margin-right: 100px;
}

.content-top-title{
    font-size: 20pt;
    padding-bottom: 5px;
}

.content-top-imagebox{
    width: 159px;
    height: 112px;
    background-image: url(/assets/chevening.jpg);
    background-size: cover;
}

.content-top-description{
    display: flex;
}

.content-top-desc{
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 12pt;
    align-items: flex-end;
}

.content-bottom{
    padding: 1%;
    height: 80%;
    width: 1190px;
    /* margin: auto; */
    margin-left: 100px;margin-right: 100px;
}

.section{
    padding-bottom: 20px;
}

.section a{
    color: blue;
    text-decoration: underline;
}

.section-content{
    display: flex;
}

.section p{
    padding-bottom: 2px;  
    font-size: 11pt;
}

.tab{
    padding-left: 100px;
}


.button-save{
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
}
.space{
    width: 850px;
}

.submit1 input[type=submit] {
    width: 50%;
    background-color: #3a8a41;
    color: white;
    margin-left: 100px;
    padding: 10px 15px;
    margin-right:10px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
  
.submit1 input[type=submit]:hover {
    background-color: #26772d;
}

.submit2 input[type=submit] {
    width: 100%;
    background-color: #b12121;
    color: white;
    margin: 15px 0;
    margin-left: 25px;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
  
.submit2 input[type=submit]:hover {
    background-color: #a01919;
}