.content{
    display: flex;
    background-color: #FBF6FA;
}
.content-left{
    margin: 2%;
    padding: 2%;
    width: 55%;
}

.left-title{
    font-weight: bolder;
    font-size: 25px;
}

.left-content-imagebox{
    width: 707px;
    height: 471px;
    background-image: url(/code-2/assets/scholarships-banner.jpg);
    background-size: cover;
    margin-top: 15px;
}

.image-title {
   font-size: 18pt;
   text-align: center;
   font-weight: bold;
   padding: 20px;
}

.content-right{
    background-color: #f8e5f5;
    width: 486px;
    height: fit-content;
    margin: 2%;
    margin-top: 5%;
    border-radius: 30px;
}

.right-title{
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding: 20px;
    padding-bottom: 5px;
}

.right-content img{
    width: 106px;
    height: 94px;
    margin-right: 20px;
    padding: 20px;
}

.content-title{
    font-size: 10pt;
    padding-right: 40px;
}

.top{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

.middle{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

.bottom{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

.content-right-footer{
    padding: 20px;
    font-size: 10pt;
}
