:root{
    --bg: #FBF6FA;
    --btn: #EBD5E8;
    --dark: #2C1429;
    --footer: #E9CFE5;
    --subs: #EB96DF;
}

a{
    text-decoration: none;
    color: black;
}

button{
    cursor: pointer;
}

body{
    margin: 0px;
    box-sizing: border-box;    
    background-color: var(--bg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
    height: 50px;
}

.navbar{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    /* border: solid black 1px; */
}

.navbar-left{
    display: flex;
    align-items: center;
    margin-right: 10rem;
    margin-left: 4rem;
}

.navbar-left>div{
    margin-left: 20px;
    padding: 5px 10px;
    width: 45px;
    text-align: center;
    cursor: pointer;
}

.current{
    background-color: var(--dark);
    display: inline-block;
    border-radius: 20px;
}

.current a{
    color: white;
}

.search{
    background-color: var(--btn);
    width: 160px;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
}

#search{
    width: 130px;
    background-color: var(--btn);
    border: 0px;
}

#search-icon{
    width: 10px;
}

.navbar-right{
    display: flex;
    flex-wrap: wrap;
}

.navbar-right>div{
    margin-left: 20px;
    border: none;
    cursor: pointer;
}

.navbar-right>div>button{
    width: 80px;
    border: none;    
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--btn);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.content{
    border-top: 1px solid var(--dark);
}

.footer{
    background-color: var(--footer);
    display: flex;
    justify-content: space-between;
    padding: 28px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer>div{
    margin: 0px 100px;
}

.footer-left>div:first-child p{
    font-size: 25px;
}

.footer-left>div p{
    margin: 0px;
    font-size: 10px;
}

#subscription{
    font-size: 10px;
    width: 180px;
    height: 15px;
}

.footer-left>div button{
    margin-top: 10px;
    width: 70px;
    border: none;    
    padding: 5px 2px;
    border-radius: 20px;
    background-color: var(--subs);
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 8px;
}

.footer-right{
    padding-top: 67px;
    font-size: 12px;
    font-weight: bolder;
    text-align: right;
}

.social-media img{
    height: 30px;
}

/* 
.footer-left{
    border: black 1px solid;
}
.footer-right{
    border: black 1px solid;
} */

/* ----- Sign Up, Login, Forgot Password CSS-----*/
.Top{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo2>img{
    height: 85px;
}

.logo2{

}

.des{
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.card{
    width: 400px;
    height: 500px;
    margin: 2% auto;
}

input[type=text], input[type=number]{
    width: 100%;
    padding: 12px 15px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid var(--dark);
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #EBD5E8;
    color: var(--dark);
    margin: 15px 0;
    margin-left: 86px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--dark);
    color: #EBD5E8;
}

.direct-login{
    text-align: center;
}
  
.icon {
    width: 100%;
    /* padding: 12px 15px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 40px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid var(--dark);
    box-sizing: border-box;
    background: url("/code-2/assets/eye-off.svg") no-repeat right;
    background-size: 15px;
    background-position: 365px 12px;
    background-color: white;
}

.loginborder{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 340px;
    border: solid 1px var(--dark);
    margin: 2% auto;
    border-radius: 20px;
}

.welcome{
    margin: 8% auto;
    margin-bottom: 6%;
    text-align: center;
    color: var(--dark);
    font-size:27px;
}

.cardlogin{
    width: 350px;
    margin: 2% auto;
}

.forgot{
    margin-top: 1%;
    margin-bottom:3%;
    font-size: 15px;
}
  
.icon2 {
    width: 100%;
    /* padding: 12px 15px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 40px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid var(--dark);
    box-sizing: border-box;
    background: url("/code-2/assets/eye-off.svg") no-repeat right;
    background-size: 15px;
    background-position: 318px 12px;
    background-color: white;
}

.forgotborder{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 340px;
    margin: 5% auto;
}

.Desc-password{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4%;
    text-align: center;
}

.content-about{
    border-top: 1px solid var(--dark);
    display: flex;
    flex-direction: column;
}

.title-about{
    margin: 0px 100px;
    margin-top: 40px;
    font-size: 40px;
}

.desc-about{
    margin: 0px 100px;
    text-align: justify;
    line-height: 1.75;
    margin-bottom: 50px;
}